* {

    margin: 0;

    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: monospace;
  }
  
 
  .navbar {
    background-color: lightseagreen;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: cyan;
    color: black;
  }
  
  
  .socialIconsWrapper {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socialIcons {
    display: flex;
    gap: 20px;
  }
  
  .socialIcons a {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .socialIcons a i {
    font-size: 24px;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .socialIcons a:hover {
    background-color: red;
  }
  
  .socialIcons a:hover i {
    transform: scale(1.2);
    color: white;
  }

  .footerbottom{
    text-align: center;
    color: white;
        }
    
        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
    